/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

/* Estilos de la cuadrícula */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas de igual tamaño */
    gap: 20px;
    /* Espacio entre los elementos */
    padding: 20px;
    /* Espacio alrededor de la cuadrícula */
}

.item {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    /* Transición para el cambio de color de fondo */
}

/* Estilos de respuesta a la transición (TRS) */
.item:hover {
    background-color: #2980b9;
    /* Color de fondo cuando se pasa el mouse */
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Una columna en dispositivos móviles */
    }
}